.containerBtn {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.loadBtn {
  font-size: 15px;
  padding: 5px 30px;
  border-radius: 4px;
  color: #ffffff;
  background-color: #069ffc;
}
